:root{
  --text: #ebeeef;
--background: #101314;
--primary: #59676e;
--secondary: #121517;
--accent: #c0c9cc;
}

*{
  margin: 0;
  padding: 0;
  
}
body{
  background-image: url(/Images/bg.png);
  height: 200vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
@media screen and (max-width: 768px) {
  body {
    background-size: contain;
    height: auto;
  }
}

.custom-navbar{
  background-color: var(--primary);

}
#navButton{
  border: none;
  color: var(--primary);
  font-family:'Press Start 2P', cursive;
  font-size: 0.6rem;
}

.navbar-nav .nav-item .nav-link {
  color: var(--text);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.25rem;
  margin-left: 1rem;
  
  
}
.navbar-nav .nav-item .nav-link:hover{
  color: var(--accent)!important;
}
#navLinks{
  margin-left: 60%;
}

#search input[type="search"] {
  background-color: var(--primary);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
backdrop-filter: blur(2px);
border: none;
}
#search input[type="search"]::placeholder {
  color: var(--text);
  opacity: 75% !important;

}